.idea
__pycache__
app/__pycache__
app/static/images
app/demo_data/annotator_dirs/demo/checkbox_selections_demo.json
app/demo_data/annotator_dirs/demo/current_image_index_demo.txt
static
app.log
.vscode/launch.json
